html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Source Sans Pro';
}

fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

#app {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: rgb(215, 236, 255);
}

.container {
  width: 100%;
  height: 100%;
  border-radius: 5%/8%;
  box-shadow: 0px 20px 50px 5px rgba(0, 0, 0, 0.4);
}

.credit-card-container, .card-front, .card-back {
  width: 350px;
  height: 210px;
  box-sizing: border-box;
}

.credit-card-container {
  margin: auto;
  perspective: 1000px; /* for the card flip functionality*/
}

/* For Card Flip Functionality */
.card-flipper {
  transition: 1s;
  transform-style: preserve-3d;
  position: relative;
}

.perform-flip {
  transform: rotateY(180deg);
}

.card-front, .card-back {
  position: absolute;
  top: 0;
  padding: 15px 0;
  border-radius: inherit;
  background-color: maroon; /* temporary */
  backface-visibility: hidden;
}

.card-front {
  color: white;
}

.card-back {
  transform: rotateY(180deg);
}

.card-cvv {
  background-color: white;
  width: 90%;
}

.card-back .card-strip {
  width: 100%;
  height: 20%;
  margin: 2% 0;
  background-color: black;
}

.credit-card-form {
  position: relative;
  top: 22%;
  padding: 1.5%;
  margin: auto;
  width: 430px;
  height: 410px;
  border-radius: 2%;
  background-color: white;
}

.credit-card-form > * {
  position: relative;
  top: -30%;
}

.card-cvv,
.credit-card-form-submit,
.expiration-date-input select,
.card-info-fieldset input {
  height: 40px;
  margin: 0;
  border-radius: 5px;
}

.expiration-date-input select,
.card-info-fieldset input {
  border: 1px solid lightgray;
  background-color: white;
}

.card-info-fieldset input {
  width: 100%;
  box-sizing: border-box;
}

.card-info-exp-and-cvv {
  display: flex;
  justify-content: space-between;
}

.expiration-date-input {
  flex: 2;
}

.expiration-date-input select {
  width: 40%;
}

.cvv-input {
  flex: 1;
}

.credit-card-form-submit {
  width: 100%;
  height: 45px;
  color: white;
  background-color: royalblue;
  text-align: center;
  font-size: 18px;
  font-weight: normal;
  border: none;
}
