html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Source Sans Pro';
}

fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

legend {
  font-size: 0.8rem;
  font-weight: lighter;
  padding: 2px 0;
}

input:focus,
select:focus {
  outline: none;
  border: 2px solid red;
  box-shadow: 0 10px 20px -10px rgba(0, 0, 0, 0.2);
}

#app {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: rgb(215, 236, 255);
}

.container {
  width: 100%;
  height: 100%;
  border-radius: 5%/8%;
  box-shadow: 0 10px 30px -10px rgba(0, 0, 0, 0.5);
}

/* Credit Card display styling */
.credit-card-container, .card-front, .card-back {
  width: 340px;
  height: 210px;
  box-sizing: border-box;
}

.credit-card-container {
  position: relative;
  top: -30%;
  margin: auto;
  perspective: 1000px; /* for the flip functionality */
}

.card-flipper {
  transition: 1s;
  transform-style: preserve-3d;
  position: relative;
}

/* Toggle class on div with card-flipper class to flip card */
.perform-flip {
  transform: rotateY(180deg);
}

.card-front, .card-back {
  position: absolute;
  top: 0;
  padding: 15px 0;
  border-radius: inherit;
  background-color: maroon; /* temporary */
  backface-visibility: hidden;
}

.card-front {
  color: white;
}

.card-back {
  transform: rotateY(180deg);
}

.card-back .card-strip {
  width: 100%;
  height: 20%;
  margin: 2% 0;
  background-color: black;
}

.card-back fieldset {
  width: 95%;
  margin: auto;
}

.card-back fieldset legend {
  margin: auto 0 auto auto;
  padding-right: 2%;
  color: white;
}

.card-back fieldset .card-cvv {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  margin: auto;
}

/* general credit card form format */
.credit-card-form {
  position: relative;
  top: 22%;
  padding: 1.5%;
  margin: auto;
  width: 400px;
  height: 400px;
  border-radius: 2%;
  background-color: white;
}

/* credit card form input styling */
.credit-card-form-input {
  position: relative;
  top: -20%;
}

.credit-card-form-input > * {
  margin: 10px;
  width: 95%;
}

.card-cvv,
.credit-card-form-submit,
.expiration-date-input select,
.card-info-fieldset input {
  height: 40px;
  padding: 0;
  border-radius: 5px;
  background-color: white;
}

.expiration-date-input select,
.card-info-fieldset input {
  border: 1px solid lightgray;
}

.card-info-fieldset input {
  width: 100%;
  box-sizing: border-box;
}

.card-info-exp-and-cvv {
  display: flex;
  justify-content: space-between;
}

.expiration-date-input {
  flex: 2;
}

.expiration-date-input select {
  width: 45%;
  margin-right: 10px;
}

.cvv-input {
  flex: 1;
}

.credit-card-form-submit {
  height: 45px;
  border: none;
  box-shadow: 0 10px 20px -10px rgba(0, 0, 0, 0.2);
  text-align: center;
  font-size: 18px;
  font-weight: lighter;
  color: white;
  background-color: royalblue;
}